<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<link rel="icon" type="images/x-icon" href="faviconm.ico" />
<meta name="keywords" content="Credit" />
<meta name="description" content="Credit Result for MSME Worthiness" />
<link rel="Stylesheet" href="stylesheet-dashboard.css" />
<link rel="icon" href="logo.ico" type="images/x-axis" />
<title>Dashboard</title>
<body>
  <section class="container">
    <div>
      <h1>Dashboard</h1>
      <p>
        Financial Dashboard which compares the Altman z score on Quarterly
        Basis.
      </p>
    </div>
    <div class="flex">
      <div class="row-01">
        <h2>Bar Chart Analysis from 2021-2022</h2>
        <img src="CHART-001.png" alt="Bar-chart" />
      </div>
      <div>
        <h2>Area Chart Analysis from 2021-2022</h2>
        <img src="AREA-001.png" alt="area-chart" />
      </div>
    </div>
    <section class="Analysis">Analysis</section>
    <div class="charts">
      <div class="row-02">
        <h2 class="pie-chart-head">Pie Chart for Quarter-Month Basis</h2>
        <img clas="img-sp" src="PIE-001.png" alt="pie-chart" />
      </div>
      <div>
        <h2 class="special">
          Statistic chart Analysis from <br />
          2021-2022
        </h2>
        <img class="bottom" src="STATISTIC-0001.png" alt="Statistic-chart" />
      </div>
    </div>

    <table>
      <tr>
        <th>Quarterly basis</th>
        <th>NetSales</th>
        <th>CurrentLiabilities</th>
        <th>RetainedEarnings</th>
        <th>CurrentAssets</th>
        <th>TotalLiabilities</th>
        <th>MarketValueEquity</th>
        <th>TotalAsset"</th>
        <th>EBT</th>
      </tr>
      <tr>
        <td>ADT GROUPS</td>
        <td>100000</td>
        <td>100000</td>
        <td>80000</td>
        <td>100000</td>
        <td>350000</td>
        <td>500000</td>
        <td>200000</td>
        <td>120000</td>
      </tr>

      <tr>
        <td>KBR WATERS</td>
        <td>16500</td>
        <td>10000</td>
        <td>2500</td>
        <td>15000</td>
        <td>9000</td>
        <td>25000</td>
        <td>12000</td>
        <td>17000</td>
      </tr>
      <tr>
        <td>CELO</td>
        <td>8500</td>
        <td>3800</td>
        <td>7000</td>
        <td>3500</td>
        <td>14500</td>
        <td>45000</td>
        <td>15000</td>
        <td>9200</td>
      </tr>
      <tr>
        <td>ZETA</td>
        <td>90000</td>
        <td>270000</td>
        <td>50000</td>
        <td>100000</td>
        <td>300000</td>
        <td>850000</td>
        <td>500000</td>
        <td>100000</td>
      </tr>
      <tr>
        <td>RRD</td>
        <td>90000</td>
        <td>290000</td>
        <td>55000</td>
        <td>100000</td>
        <td>400000</td>
        <td>250000</td>
        <td>600000</td>
        <td>112000</td>
      </tr>
    </table>

    <button>Refresh the Data</button>
  </section>
</body>
</html>